@font-face {
    font-family: Roboto;
    src: url('/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('/font/Roboto/Roboto-Bold.ttf');
}

body{
    font-family: Roboto;
    background-color: #EDEDED;
}

.hero-box{
    background-color: #000000bc;
    padding: 20px;
    color: white;
    font-size: 60px;
    margin-bottom: 150px;
    margin-left: 50px;
}

h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Roboto-Bold;
}

h3{
    padding-top: 10px;
}

.sale{
    color: #982A1C;
}


.nav-hover:hover{
    color: #b73b2a8e;
}

#main-btn{
    background-color: #ffffff00;
    color: #1E2C20;
    border: solid #1E2C20;
    width: 150px;
    height: 40px;
}
#main-btn:hover{
    background-color: #1E2C20;
    color: white;
    border: solid #1E2C20;
    font-weight: bold;
}

.division{
    padding: 50px 0px;
}

.color-btn{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
}

#color-1{
    background-color: #EA2D2C;
}
#color-2{
    background-color: #FB5108;
}
#color-3{
    background-color: #D29D12;
}
#color-4{
    background-color: #353535;
}

.btnBorder{
    border: black solid;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
.btnBorderNon{
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.centering{
    display: flex;
    justify-content: center;
}

.nav-link:hover{
    color: #982A1C;
}
.hero{
    width: 100%;
}

.promo{
    color: white;
    text-align: center;
    background-color: #1E2C20;
    padding-top: 20px;
    padding-bottom: 5px;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    padding: 10px;
    justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.grid-items{
    width: 300px;
    height: 402px;
}

#startCooking{
    width: 300px;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
}

  .zoom:hover {
    transform: scale(1.05);
    width: 380px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }


.reviews{
    color: white;
    background-color: #0000009f;
    width: 80%;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 25%;
}

.reviews > p{
    font-size: 12px;
    text-align: left;
}


.flex-box-sellers{
    display: flex;
    justify-content: space-around;
}

.bestSellers{
    border-radius: 10px;
    border: solid black;
    padding: 24px;
    width: 380px;
  }
#bestSellerImg{
    width: 100%;
    height: 280px;
    border-radius: 10px;
}


#newArrivalsPics{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background-color: black;
}
#newArrivalsPics:hover{
    filter: brightness(70%);
}

footer{
    background-color: #1E2C20;
    color: white;
}

.review-img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

ul.no-bullets{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

li{
    font-size: 12px;
    margin-top: 5px;
}

.social > svg{
    margin-top: 10px;
    margin-right: 10px;
}

#email{
    height: 40px;
    width: 60%;
}

#subscribe-btn{
    background-color: #ffffff00;
    color: #FFFFFF;
    border: solid #FFFFFF;
    width: 120px;
    height: 40px;
}

.footer-grid{
    padding: 80px 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#Subscribe{
    grid-column: 5 / 7;
}

@media (max-width: 992px){
    .flex-box-sellers{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1400px) and (min-width: 1200px){

}

@media (max-width: 1199px) and (min-width: 992px){

}

@media (max-width: 991px) and (min-width: 768px){
    .review-img{
        width: 100%;
        height: 800px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 767px) and (min-width: 576px){

}

@media (max-width: 575px){

}