@font-face {
    font-family: Roboto;
    src: url('/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('/font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-SemiBold;
    src: url('/font/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf');
}

body{
    font-family: Roboto;
    background-color: #EDEDED;
}

.hero-box{
    background-color: #000000bc;
    padding: 5px 20px;
    color: white;
    font-size: 60px;
    margin-bottom: 5%;
    margin-left: 50px;
}

h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Roboto-Bold;
}

h2{
    font-family: Roboto-Semibold;
}

h3{
    padding-top: 10px;
    font-family: Roboto-Bold;
}

h4{
    font-family: Roboto-SemiBold;
}

.sale{
    color: #982A1C;
}


.nav-hover:hover{
    color: #b73b2a8e;
}

#main-btn{
    background-color: #ffffff00;
    color: #1E2C20;
    border: solid #1E2C20;
    width: 120px;
    height: 30px;
    font-size: 12px;
}
#main-btn:hover{
    background-color: #1E2C20;
    color: white;
    border: solid #1E2C20;
    font-weight: bold;
}

.division{
    padding: 50px 0px;
}

.color-btn{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
}

#color-1{
    background-color: #EA2D2C;
}
#color-2{
    background-color: #FB5108;
}
#color-3{
    background-color: #D29D12;
}
#color-4{
    background-color: #353535;
}

.btnBorder{
    border: black solid;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
.btnBorderNon{
    border: solid rgba(255, 255, 255, 0);
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.centering{
    display: flex;
    justify-content: center;
}

.nav-link:hover{
    color: #982A1C;
}
.hero{
    width: 100%;
}

.promo{
    color: white;
    text-align: center;
    background-color: #1E2C20;
    padding-top: 20px;
    padding-bottom: 5px;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
    justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.grid-items{
    width: 250px;
    height: 300px;
}


#startCooking{
    width: 250px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
}

  .zoom:hover {
    transform: scale(1.05);
    width: 380px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }


.reviews{
    color: white;
    background-color: #0000009f;
    width: 80%;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 25%;
    display: grid;
    grid-template-rows: 1fr, auto, 1fr;
}

.reviews > p{
    font-size: 12px;
    text-align: left;
}

.flex-box-sellers{
    display: flex;
    justify-content: space-evenly;
}

.bestSellers{
    border-radius: 10px;
    border: solid black;
    padding: 24px;
    width: 320px;
  }
.bestSellers > p{
    font-size: 12px;
}
#bestSellerImg{
    width: 100%;
    height: 230px;
    border-radius: 10px;
}


#newArrivalsPics{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background-color: black;
}
#newArrivalsPics:hover{
    filter: brightness(70%);
}

footer{
    background-color: #1E2C20;
    color: white;
}

.review-img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

ul.no-bullets{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

li{
    font-size: 12px;
    margin-top: 5px;
}

.social > svg{
    margin: 10px 5px;
}

#email{
    height: 40px;
    width: 60%;
}

#subscribe-btn{
    background-color: #ffffff00;
    color: #FFFFFF;
    border: solid #FFFFFF;
    width: 120px;
    height: 40px;
}

.footer-grid{
    padding: 80px 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

#Subscribe{
    grid-column: 5 / 7;
}

@media (max-width: 1200px){
    .reviews{
        margin-top: 20%;
        height: 325px;
    }
}

@media (max-width: 1020px){
    .grid-box{
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }
    .grid-items{
        width: 379px;
        height: 470px;
    }
    
    #startCooking{
        width: 100%;
        height: 402px;
        object-fit: cover;
        border-radius: 10px;
    }
}
@media (max-width: 992px){
    
    h3{
        font-size: 40px;
    }

    .col-12 > h3{
        font-size: 40px;
    }
    .col-12 > p{
        font-size: 30px;
    }

    .flex-box-sellers{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .bestSellers{
        width: 95%;
    }
    .bestSellers > p{
        font-size: 30px;
    }
    .bestSellers > h3{
        padding-top: 20px;
        font-size: 40px;
    }
    #bestSellerImg{
        height: 50%;
    }
    #newArrivalsPics{
        width: 100%;
        height: 490px;
        border-radius: 10px;
        background-color: black;
        object-fit: cover;
    }

    .review-img{
        width: 100%;
        height: 900px;
        object-fit: cover;
        border-radius: 10px;
    }

    .reviews{
        margin-top: 25%;
        height: auto;
    }

    .reviews > h2{
        font-size: 60px;
    }

    .reviews > p{
        font-size: 30px;
        padding: 20px 0px 10px;
    }

    .reviews > h5{
        font-size: 40px;
    }

    .footer-grid{
        padding: 80px 20px;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 1fr);
    }

    .social > svg{
        margin: 10px 20px;
    }

    #Subscribe{
        grid-column: 1 / 3;
        grid-row: 1;
    }
    #main-btn{
        background-color: #ffffff00;
        color: #1E2C20;
        border: solid #1E2C20;
        width: 290px;
        height: 80px;
        font-size: 30px;
    }
    div > h1{
        font-size: 60px;
    }
}

@media (max-width: 810px){
    .grid-box{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .grid-items{
        width: 250px;
        height: 300px;
    }
    
    #startCooking{
        width: 250px;
        height: 225px;
        object-fit: cover;
        border-radius: 10px;
    }
}