h1{
    text-align: center;
}

h3{
    padding-top: 10px;
}

#main-btn{
    background-color: #ffffff00;
    color: #1E2C20;
    border: solid #1E2C20;
    width: 150px;
    height: 50px;
}
#main-btn:hover{
    background-color: #1E2C20;
    color: white;
    border: solid #1E2C20;
    font-weight: bold;
}

.color-btn{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
}

#color-1{
    background-color: #EA2D2C;
    border: black solid;
}
#color-2{
    background-color: #FB5108;
}
#color-3{
    background-color: #D29D12;
}
#color-4{
    background-color: #353535;
}

.centering{
    display: flex;
    justify-content: center;
}

.nav-link:hover{
    color: #982A1C;
}
.hero{
    width: 100%;
}

.promo{
    color: white;
    text-align: center;
    background-color: #1E2C20;
    padding-top: 20px;
    padding-bottom: 10px;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    padding: 10px;
    justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.grid-items{
    width: 300px;
    height: 402px;
}

#startCooking{
    width: 300px;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
}

  .zoom:hover {
    transform: scale(1.05);
    width: 380px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }



.flex-box-sellers{
    display: flex;
    justify-content: space-around;
}

.bestSellers{
    border-radius: 10px;
    border: solid black;
    padding: 24px;
    width: 380px;
  }
#bestSellerImg{
    width: 100%;
    height: 280px;
    border-radius: 10px;
}

#newArrivalsPics{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

@media (max-width: 992px){
    .flex-box-sellers{
        padding: 10px;
        flex-direction: column;
        align-content: center;
    }
}